[Unit]
Description=Sound on Motion Act Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/sound-on-motion
ExecStart=/bin/sh ./entrypoint.sh python -m src.act
Restart=always

[Install]
WantedBy=multi-user.target
