[Unit]
Description=Sound on Motion App Service
After=network.target

[Service]
User=pi
WorkingDirectory=/opt/sound-on-motion
ExecStart=/bin/sh ./entrypoint.sh python -m src.app
Restart=always

[Install]
WantedBy=multi-user.target
